font-family: 'Roboto Slab', serif;
body {
    background-image: url('pictures/reg2.jpg');
    background-size: cover; /* Optional: Scale the image to cover the entire element */
    background-repeat: no-repeat; /* Optional: Prevent the image from repeating */
    background-attachment: fixed; /* Optional: Fix the background in place */
}
.gradient-text {
    text-align: center;
    font-size: 40px; /* Set your desired font size */
    background: linear-gradient(to right, #c22d2d, #c5f5d0,#0b7124); /* Define your gradient colors and direction */
    -webkit-background-clip: text; /* Clip the background to the text */
    background-clip: text;
    color: transparent; /* Make the text color transparent */
    font-family: 'Roboto Slab', serif;
    -webkit-text-stroke: 1px #000; /* Create a 2px black border around the text for webkit browsers (e.g., Chrome, Safari) */
    text-stroke: 100% #b41919;
}
.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 300px;
    margin: 50px auto;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}